$background-color: black;
$white: #f0f0f0;
$template-bg: #1f1f1f;
$template-bg2: #363636;
$count-color: #c4c4c4;

$font-extra-light: 200;
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 700;

//Color of planet icons
$m: #d3ba86;
$v: #ae6516;
$e: #156598;
$mars: #b44e28;
$j: #c5aa99;
$s: #c59f6b;
$u: #9fc3c8;
$n: #475ed6;

#counter {
  display: none;
}

#name {
  position: absolute;
  font-size: 9.5rem;
  font-weight: $font-semi-bold;
  opacity: 50%;
  letter-spacing: 2.5px;
  margin-left: 1rem;
  transform: translateY(-8rem);

  @media screen and (max-width: 350px) {
    font-size: 7rem;
    transform: translateY(-6rem);
  }
}

#scale {
  transform: scale(1.5);
}

#link {
  text-decoration: none;
  color: black;
  -webkit-tap-highlight-color: rgba(#000, 0.1);
  transition: all 0.3s;
  &:hover {
    opacity: 70%;
  }
}

body {
  background-color: $background-color;
  color: white;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}
//! HERO SECTION

.menu {
  color: black;
  display: block;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  aspect-ratio: 1;
  height: 5rem;

  background-color: $white;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 4rem;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__inner {
    width: 40%;
    height: 5%;
    margin: 2px auto;
    background: black;
    transition: all 0.3s;
  }
}

.menu__changed {
  &:nth-last-of-type(1) {
    transform: translate(-5%, -300%) rotate(45deg);
    width: 50%;
  }
  &:nth-last-of-type(3) {
    transform: translate(1%, 222%) rotate(-270+45deg);
    width: 50%;
  }

  &:nth-last-of-type(2) {
    opacity: 0;
  }
}

.menu__item__container {
  color: white;
  font-weight: $font-medium;
  font-size: 1.85rem;
  letter-spacing: 2.5px;
  position: fixed;
  bottom: -18rem;
  opacity: 0;
  right: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  z-index: 3;
  transition: all 0.4s;
}

#menu-animation {
  bottom: 12rem;
  opacity: 1;
}

.menu__item {
  text-shadow: 0.01rem 0rem 1rem black;
  text-align: center;
}

.hero__container {
  width: 100%;
  height: 100vh;

  @media screen and (max-height: 640px) {
    height: 115vh;
  }
  @media screen and (max-height: 540px) {
    height: 130vh;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url(./assets/background_mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 4rem;
    z-index: -2;
  }
}
.hero__content {
  margin: 2.5rem;

  &__nav {
    position: relative;
    img {
      aspect-ratio: 1;
      height: 5rem;
    }

    &::before {
      content: "";
      background-color: $white;
      aspect-ratio: 1;

      width: 30rem;
      display: block;
      position: absolute;
      top: -20rem;
      left: -20rem;
      border-radius: 50%;
      z-index: -1;
    }
  }

  &__middle {
    margin-top: 4rem;
  }

  &__heading {
    font-size: 5.2rem;
    font-weight: $font-regular;
    line-height: 5rem;
    letter-spacing: 2px;
  }

  &__subheading {
    font-weight: $font-medium;
    color: #fff;
    opacity: 80%;
    font-size: 1.85rem;
    letter-spacing: 2.5px;
    line-height: 2rem;
    position: relative;

    &:first-of-type {
      margin-top: 3rem;
      &::before {
        content: " ";

        background-color: $white;
        height: 7rem;
        width: 0.4rem;
        display: block;
        position: absolute;
        top: 0rem;
        left: -2rem;

        z-index: -1;
      }
    }

    &:last-of-type {
      font-weight: $font-semi-bold;
      opacity: 75%;
      margin-top: 1.2rem;
    }
  }

  &__smallPlanets {
    margin-top: 7rem;
    display: flex;
    justify-content: space-between;
    li {
      list-style: none;
      aspect-ratio: 1;
      height: 2.2rem;

      border-radius: 50%;
      transition: all 0.3s;

      &:hover,
      &:focus,
      &:active {
        box-shadow: inset -3.5rem 1px 0px $white;
      }
    }

    a {
      border-radius: 50%;
      &:nth-of-type(1) {
        background-color: $m;
      }
      &:nth-of-type(2) {
        background-color: $v;
      }
      &:nth-of-type(3) {
        background-color: $e;
      }
      &:nth-of-type(4) {
        background-color: $mars;
      }
      &:nth-of-type(5) {
        background-color: $j;
      }
      &:nth-of-type(6) {
        background-color: $s;
      }
      &:nth-of-type(7) {
        background-color: $u;
      }
      &:nth-of-type(8) {
        background-color: $n;
      }
    }
  }

  &__btn {
    margin-top: 7rem;
    position: relative;

    button {
      cursor: pointer;
      width: 100%;
      height: 6rem;
      border: none;
      border-radius: 0.5rem;
      background-color: $white;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.9rem;
      font-family: inherit;
      font-weight: $font-bold;
      letter-spacing: 2.5px;
      gap: 1rem;
      box-shadow: 0rem 0rem 0rem 0rem rgba(255, 255, 255, 0);
      transition: all 0.2s;

      &:hover {
        box-shadow: 0rem 0.5rem 1rem 0.5rem rgba(255, 255, 255, 0.2);
      }
    }

    &::after {
      content: " ";

      display: block;
      background-image: url(./assets/Arrow.svg);
      background-repeat: no-repeat;
      width: 10%;
      height: 160%;

      position: absolute;
      bottom: -12rem;
      left: 45%;
    }
  }
}

//!    Hero section end

//!   PLANETS section

.planets__container {
  background-color: $template-bg2;
  padding-top: 1rem;
}
.planets__content {
}
.template__container {
  background-color: $template-bg2;
}

.template__content {
  background-color: $template-bg;

  &__background {
    margin: 0 auto;
    .image {
      margin: 1rem;
      margin-top: 10rem;

      background-color: black;
      position: relative;
      &::before {
        content: " ";
        display: block;
        position: absolute;
        height: 1rem;
        width: 100%;
        top: 0;
        background: #1f1f1f;
      }
      &__in {
        width: 80%;
        overflow: hidden;

        margin: 0 auto;
      }
    }
    img {
      max-width: 100%;
      margin: 5rem auto;
    }
  }

  &__features {
    margin: 4rem 2rem 0rem 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 1rem;

    li {
      list-style: none;
      font-weight: $font-medium;
      font-size: 1.85rem;
      letter-spacing: 2.5px;
      margin-top: 1rem;
    }

    &__card {
      &[number="2"] {
        grid-area: 2;
      }
      &[number="3"] {
        grid-area: 3;
        padding-bottom: 5rem;
      }

      &__count {
        color: black;
        display: inline-block;
        border-radius: 50%;
        aspect-ratio: 1;
        height: 5rem;
        text-align: center;
        font-weight: $font-semi-bold;
        font-size: 3rem;
        position: relative;
        z-index: 2;

        &::before {
          content: " ";
          display: block;
          position: absolute;
          height: 100%;
          aspect-ratio: 1;
          background-color: $count-color;
          border-radius: 50%;
          z-index: -1;
          top: -0.6rem;
        }
      }
      p {
        letter-spacing: 1.5px;
        font-weight: $font-medium;
        font-size: 0.9rem;
        line-height: 1.4rem;
        margin-top: 1rem;
      }
    }
  }
}

//! planets Section end

//!  Contact Section

.contact__container {
  height: 80vh;
  position: relative;
  overflow: hidden;

  @media screen and (min-height: 700px) {
    height: 100vh;
  }
  @media screen and (max-height: 650px) {
    height: 140vh;
  }
  @media screen and (max-height: 450px) {
    height: 180vh;
  }

  &::after {
    content: " ";
    display: inline-block;
    position: absolute;

    background-repeat: no-repeat;
    background-position: center;
    width: 50%;
    height: 80%;
    background-image: url(./assets/astraugnout.png);

    bottom: 0%;
    right: 0rem;
    z-index: -1;
  }
}

.contact__content {
  margin: 0 2rem 0 2rem;
  &__heading {
    font-weight: $font-semi-bold;
    letter-spacing: 1rem;
    font-size: 8rem;
    color: white;
    opacity: 50%;
    line-height: 8rem;
    margin-top: 8rem;

    @media screen and (max-width: 340px) {
      font-size: 6rem;
    }

    &::after {
      content: " ";
      display: inline-block;
      position: absolute;
      background-image: url(./assets/Arrow1.svg);
      background-repeat: no-repeat;
      background-position: center;
      height: 15rem;
      width: 10rem;
    }
  }

  &__card {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    margin-right: 2rem;

    p {
      font-weight: $font-semi-bold;
      font-size: 2rem;
      position: relative;
    }

    input {
      background-color: transparent;
      border: none;
      border-bottom: 2px solid white;
      opacity: 50%;
      outline: none;
      color: white;
      margin-top: 1rem;
      margin-bottom: 4rem;
    }

    button {
      width: 100%;
      height: 5rem;
      border: none;
      border-radius: 0.5rem;
      background-color: $white;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.9rem;
      font-family: inherit;
      font-weight: $font-bold;
      letter-spacing: 2.5px;
      gap: 1rem;
      margin-top: 1rem;
    }
  }
}

//!  Contact Section end

//!   Footer section

.footer {
  height: 30rem;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__content {
    height: 65%;
    margin-left: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    &::before {
      content: "";
      background-color: $white;
      aspect-ratio: 1;

      width: 40rem;
      display: block;
      position: absolute;
      top: -5rem;
      left: -15rem;
      border-radius: 50%;
      z-index: -1;
    }

    &__image {
      img {
      }
    }

    &__paragraph {
      text-transform: uppercase;
      color: black;
      font-weight: $font-semi-bold;
      letter-spacing: 1.5px;
    }
  }
}

//! Adjusting for my laptop

@media screen and (min-width: 800px) {
  .hero__content__heading {
    line-height: 8rem;
  }
  #name {
    font-size: 25rem;
    top: -15rem;
    left: 3rem;
  }

  #rowReverse {
    flex-direction: row-reverse;
  }

  .menu {
    display: none;
  }
  .menu__item__container {
    color: white;
    font-weight: $font-bold;
    font-size: 1.85rem;
    letter-spacing: 2.5px;
    position: fixed;
    top: 5rem;
    right: 16rem;
    opacity: 1;
    display: flex;
    flex-direction: row;
    gap: 6rem;
    z-index: 3;
    transition: all 0.4s;
    text-transform: uppercase;
  }

  .hero__container {
    overflow: hidden;
    &::before {
      content: "";
      display: block;
      position: absolute;

      height: 100%;
      width: 100%;
      top: 5rem;
      right: -40rem;
      background-image: url(./assets/back__pc.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position-y: 0;
      transform: rotate(-40deg);
      z-index: -2;
      overflow: hidden;
    }
  }

  .hero__content {
    margin: 4rem 7rem 0 7rem;

    &__nav {
      position: relative;
      img {
        aspect-ratio: 1;
        height: 6rem;
      }

      &::before {
        content: "";
        background-color: $white;
        aspect-ratio: 1;

        width: 50rem;
        display: block;
        position: absolute;
        top: -36rem;
        left: -36rem;
        border-radius: 50%;
        z-index: -1;
      }
    }

    &__middle {
      margin-top: 12rem;
    }

    &__heading {
      font-size: 9.5rem;
    }

    &__subheading {
      font-weight: $font-medium;
      color: #fff;
      opacity: 75%;
      font-size: 3.5rem;
      letter-spacing: 2.5px;
      line-height: 2rem;
      position: relative;

      &:first-of-type {
        margin-top: 7rem;
        &::before {
          height: 8rem;
          width: 0.4rem;
          top: -0.5rem;
          left: -7rem;
        }
      }

      &:last-of-type {
        font-weight: $font-semi-bold;
        font-size: 2.5rem;
        margin-top: 3.5rem;
      }
    }

    &__smallPlanets {
      width: 35%;
      margin-top: 8rem;
      display: flex;
      justify-content: space-between;
      li {
        list-style: none;
        aspect-ratio: 1;
        height: 3rem;
      }
    }

    &__btn {
      margin-top: 8rem;
      position: relative;

      button {
        width: 35%;
        height: 8rem;
        font-size: 3rem;

        gap: 2rem;
      }

      &::after {
        display: none;
      }
    }
  }

  .planets__container {
    background-color: black;
    padding-top: 1rem;
  }

  .planets__content {
    margin: 4rem 7rem 0 7rem;
  }

  .template__container {
    background-color: black;
  }

  .template__content {
    background-color: $template-bg;
    display: flex;

    margin-top: 20rem;

    &__background {
      flex: 70%;
      margin: 0 auto;
      margin-top: -8rem;
      .image {
        margin: 1rem;
        margin-top: 10rem;

        background-color: black;
        position: relative;
        &::before {
          content: " ";
          display: block;
          position: absolute;
          width: 1rem;
          height: 100%;
          top: 0;
          background: #1f1f1f;
        }
        &__in {
          &[number="1"] {
            width: 102%;
          }
        }
      }
      img {
        max-width: 100%;
        margin: 5rem auto;
      }
    }

    &__features {
      flex: 30%;
      margin: 6rem 2rem 0rem 2rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-column-gap: 1rem;

      li {
        list-style: none;
        font-weight: $font-medium;
        font-size: 2rem;
        letter-spacing: 2.5px;
        margin-top: 1rem;
      }

      &__card {
        &[number="2"] {
          grid-area: 2;
        }
        &[number="3"] {
          grid-area: 3;
          padding-bottom: 5rem;
        }

        &__count {
          color: black;
          display: inline-block;
          border-radius: 50%;
          aspect-ratio: 1;
          height: 5rem;
          text-align: center;
          font-weight: $font-semi-bold;
          font-size: 3rem;
          position: relative;
          z-index: 2;

          &::before {
            content: " ";
            display: block;
            position: absolute;
            height: 115%;
            aspect-ratio: 1;
            background-color: $count-color;
            border-radius: 50%;
            z-index: -1;
            top: -1rem;
            left: -0.3rem;
          }
        }
        p {
          letter-spacing: 1.5px;
          font-weight: $font-medium;
          font-size: 1.2rem;
          line-height: 1.7rem;
        }
      }
    }
  }

  .contact__container {
    height: 100vh;
    position: relative;
    overflow: hidden;
    margin-top: 10rem;

    &::after {
      content: " ";
      display: inline-block;
      position: absolute;

      background-repeat: no-repeat;
      background-position: center;
      width: 50%;
      height: 80%;
      background-image: url(./assets/astraughnout_pc.png);

      bottom: 0%;
      left: -10rem;
    }
  }

  .contact__content {
    margin: 0 7rem 0 7rem;
    &__heading {
      font-weight: $font-semi-bold;
      letter-spacing: 1rem;
      font-size: 20rem;
      text-align: center;

      &::before {
        content: " ";
        display: inline-block;
        position: absolute;
        background-image: url(./assets/arrow__pc.svg);
        background-repeat: no-repeat;
        background-position: left;
        height: 100%;
        width: 100%;
        top: -10%;
        left: 15rem;
        z-index: -1;
      }
      &::after {
        display: none;
      }
    }

    &__card {
      margin-top: 15rem;
      display: flex;
      flex-direction: column;
      margin-left: 70rem;
      margin-right: 20rem;

      p {
        font-weight: $font-semi-bold;
        font-size: 3rem;
        position: relative;
      }

      button {
        height: 6rem;
        font-size: 2.5rem;
        font-family: inherit;
        font-weight: $font-bold;
        letter-spacing: 2.5px;
        gap: 1rem;
        margin-top: 1rem;
      }
    }
  }

  .footer {
    height: 90vh;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-image: url(./assets/footer.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: -2rem;
    &__content {
      height: 65%;
      margin-left: 7.5rem;
      margin-top: -10rem;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      &::before {
        content: "";
        background-color: $white;
        aspect-ratio: 1;

        width: 60rem;
        display: block;
        position: absolute;
        top: -15rem;
        left: -25rem;
        border-radius: 50%;
        z-index: 0;
        @media screen and (min-width: 800px) and (max-width: 900px) {
          width: 65rem;
        }
      }

      &__image {
        z-index: 1;
      }

      &__paragraph {
        margin-top: -15rem;
        z-index: 1;
      }
    }
  }
}

@media screen and (min-width: 500px) and (max-width: 800px) {
  html {
    font-size: 65%;
  }
}
@media screen and (min-width: 650px) and (max-width: 800px) {
  html {
    font-size: 70%;
  }
}
@media screen and (min-width: 700px) and (max-width: 800px) {
  html {
    font-size: 75%;
  }
}
@media screen and (min-width: 750px) and (max-width: 800px) {
  html {
    font-size: 80%;
  }
}
@media screen and (min-width: 430px) and (max-width: 800px) {
  .hero__content__subheading:first-of-type::before {
    height: 5rem;
    left: -2.5rem;
  }
}

@media screen and (min-width: 800px) and (max-width: 1340px) {
  #name {
    font-size: 20rem;
    top: -11rem;
  }

  .contact__content__card {
    margin-left: 66rem;

    @media screen and (min-width: 800px) and (max-width: 1300px) {
      margin-left: 60rem;
    }
    @media screen and (min-width: 800px) and (max-width: 1245px) {
      margin-left: 50rem;
    }
  }

  .contact__content__heading {
    font-size: 20rem;
    @media screen and (min-width: 800px) and (max-width: 1200px) {
      font-size: 16rem;
    }
    @media screen and (min-width: 800px) and (max-width: 1050px) {
      font-size: 12rem;
    }
    @media screen and (min-width: 800px) and (max-width: 860px) {
      font-size: 10rem;
    }
  }

  .contact__content__heading::before {
    top: -14%;
    left: 6rem;
    @media screen and (min-width: 800px) and (max-width: 1245px) {
      top: -17%;
      left: -5rem;
      scale: 0.8;
    }
    @media screen and (min-width: 800px) and (max-width: 1100px) {
      top: -23%;
      left: -10rem;
      scale: 0.6;
    }
    @media screen and (min-width: 800px) and (max-width: 1000px) {
      top: -28%;
      left: -15rem;
      scale: 0.5;
    }
  }
}

@media screen and (min-width: 800px) and (max-width: 1100px) {
  html {
    font-size: 55%;

    @media screen and (min-width: 800px) and (max-width: 1000px) {
      font-size: 50%;
    }
    @media screen and (min-width: 800px) and (max-width: 900px) {
      font-size: 45%;
    }
  }
}

@media screen and (min-width: 2000px) {
  html {
    font-size: 100%;
  }
}

@media screen and (min-width: 4000px) {
  html {
    font-size: 150%;
  }
}
